@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap');

html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/media/home-img.jpg') no-repeat center center fixed; /*Change image address for own image */
    background-size: cover;
    height: calc(100vh - 164px); /* height of top header is 164px */
    color: #555; /* Change */
    font-family: 'Lato'; /* Change */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Tangerine', cursive;
}

.logo-style {
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 7px;
    font-size: 34px;
    padding: 0;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 1px 1px 3px black;
}

.logo-bigger{
    font-size: 37px !important;
}

.bg-dk-green{
    background-color: rgb(24, 48, 22);
}

.text-biege { /* Create new classes if desired */
    color: #f1d578e8 !important;
}

.dropdown-colors{
    background-color: #f1d578e8;
    color: rgb(24, 48, 22) !important;
}

.main-logo-link {
    width: fit-content; /* Logo only takes up as much space as text */
}

.search-colors{
    background-color: #ccb053 !important;
    color: rgba(24, 48, 22, 0.747) !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(24, 48, 22, 0.747) !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(24, 48, 22, 0.747) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(24, 48, 22, 0.747) !important;
}

.shop-now-button { /* Change */
    background: rgb(30, 54, 28);
    color: white;
    min-width: 260px;
}

.btn-green { /* Change */
    background: rgb(30, 54, 28);
    color: white;
}

.shop-now-button:hover, /* Change */
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(44, 80, 41);
    color: #f1d578e8;
}

.text-black { /* Create new classes if desired */
    color: #000 !important;
}

.text-green { /* Create new classes if desired */
    color: rgb(30, 54, 28);
}

.border-black { /* Create new classes if desired */
    border: 1px solid black !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.bg-off-white {
    background: #f1d578ab !important;
}

.delivery-text-size {
    font-size: 30px !important;
    font-weight: 700;
}

.homepage-line{
    color: white;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 7px;
    font-size: 50px;
    padding: 0;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.img-fluid {
    max-width: 200px !important;
    max-height: 200px !important;
}

.card-img, .card-img-bottom, .card-img-top {
    width: auto;
}

.img-frame{
    height: 200px !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.border-dk-green {
    border-color: rgb(24, 48, 22) !important;
}

.btn-outline-black { /* Change */
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover, /* Change */
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}