<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link text-biege mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-colors dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-colors dropdown-item">All Products</a>
                <a href="" class="dropdown-colors dropdown-item ">By Price</a>
                <a href="" class="dropdown-colors dropdown-item ">Gold</a>
                <a href="" class="dropdown-colors dropdown-item">Silver</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-biege mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Themes
            </a>
            <div class="dropdown-colors dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-colors dropdown-item">Nature</a>
                <a href="" class="dropdown-colors dropdown-item">Science</a>
                <a href="" class="dropdown-colors dropdown-item">Art</a>
                <a href="" class="dropdown-colors dropdown-item">Music</a>
                <a href="" class="dropdown-colors dropdown-item">People</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-biege mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-colors dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-colors dropdown-item">Rings</a>
                <a href="" class="dropdown-colors dropdown-item">Necklaces</a>
                <a href="" class="dropdown-colors dropdown-item">Bracelets</a>
                <a href="" class="dropdown-colors dropdown-item">Earrings</a>
                <a href="" class="dropdown-colors dropdown-item">Cufflinks</a>
                <a href="" class="dropdown-colors dropdown-item">Tie Bars</a>
                <a href="" class="dropdown-colors dropdown-item">Brooches</a>
            </div>
        </li>

    </ul>
</div>